Flask==3.1.0
Flask-Cors==5.0.0
google-generativeai==0.8.5
google-api-core==2.33.0
grpcio==1.71.2
grpcio-status==1.71.2
protobuf==5.29.6
pdfplumber==0.11.5
Pillow==11.1.0
pytesseract==0.3.13
python-dotenv==1.0.1
gunicorn==23.0.0
python-docx==1.1.2